/* Ocultar a imagem na grade "md" */


.imagem{
  width: 100%;
}

.backG{
  background: #13293d;
}

  .colorL{
    color: #007dff;
  }

p{
  color: white;
}

.branco{
  color:white;
}

.ex{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.margT{
  margin-top: 1%;
}

.highlight{
  border-color: red;
}
